<input type="hidden" name="links" value="{{:links}}"/>
<!--
<div class="clearfix">
  <button type="button" onclick="toggleLinks(this)" class="btn btn-default btn-sm pull-right"><i class="fa fa-fw fa-lg fa-link"></i> <span>Edit links</span></button>
</div>
-->
<div class="links"></div>
<div style="position: absolute; bottom: 0; left: 0; width: 100%; background: #eee; text-align: right; padding-top: 5px;">
  <button type="button" onclick="deleteCard(this)" class="btn btn-danger btn-delete pull-left"><i class="fa fa-lg fa-fw fa-trash"></i> Delete</button>
  <button type="button" onclick="previewCard(this)" class="btn btn-default" style="background: transparent"><i class="fa fa-lg fa-fw fa-eye"></i> Preview</button>
  <button type="button" onclick="saveCard(this)" class="btn btn-primary"><i class="fa fa-lg fa-fw fa-check"></i> Save</button>
</div>