<div style="margin: 20px 0 0 0; text-align: right;">
  <button type="button" onclick="deleteCard(this)" class="btn btn-danger btn-delete pull-left"><i class="fa fa-lg fa-fw fa-trash"></i> Delete</button>
  <button type="button" onclick="previewCard(this)" class="btn btn-default"><i class="fa fa-lg fa-fw fa-eye"></i> Preview</button>
  <button type="button" onclick="saveCard(this)" class="btn btn-primary"><i class="fa fa-lg fa-fw fa-check"></i> Save</button>
</div>