<script data-template="Person" type="text/x-jsrender">
  <form autocomplete="off">
    <div class="from-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" value="{{:name}}" />
    </div>
    <div class="from-group">
      <label>Description</label>
      <div -data-name="description" class="textarea">{{:description}}</div>
    </div>
    <div class="from-group">
      <label><i class="fa fa-fw fa-image"></i> Image URL</label>
      <input type="text" class="form-control" name="image" value="{{:image}}" />
    </div>
    <%- include card/footer.ejs %>
  </form>
</script>