body {
  background: #fff;
}

body,h1,h2,h3,h4,h5,p,li,.btn {
  font-family: sans-serif !important;
}

.title {
  font-family: Lato;
  margin-top: 0;
  font-size: 32px;
}

#cards .ui-dialog .ui-dialog-title {
  color: #888;
  font-weight: bold;
}

#cards .ui-dialog {
  background: #fff;
  display: none;
  padding: 10px;
  padding-bottom: 0;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  border: 4px solid #eee;
  border-radius: 5px;
  z-index: 5;
}

#cards .ui-dialog.ui-draggable-dragging,
#cards .ui-dialog:focus {
  box-shadow: 0 5px 30px rgba(0,0,0,0.2);
}

#cards .ui-dialog {
  outline: none !important;
}

#cards .ui-dialog .ui-dialog-titlebar {
  background: #eee;
  margin: -10px;
  margin-bottom: 10px;
  overflow: auto;
  padding: 5px;
  cursor: move;
}

#cards .ui-dialog .ui-dialog-titlebar button {
  border: transparent;
  color: transparent;
  background: transparent;
  padding: 0;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  float: right;
  font-weight: bold;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
}

#cards .ui-dialog .ui-dialog-titlebar button::after {
  display: block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f00d";
  color: #888;
  font-size: 16px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.btn {
  min-height: 34px;
  box-shadow: none !important;
  border-radius: 0;
  font-weight: bold;
  outline: none !important;
}

.mentions,
textarea {
  min-height: 100px;
  font-size: 16px;
  line-height: 1.846;
  font-family: sans-serif;
  font-weight: normal;
  letter-spacing: 0.1px;
}

.form-control {
  margin-bottom: 10px;
}